.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path do
          = icon('far', 'edit', class: "top-items__icons__btn--edit")
        -# link_to "#", class: "top-items__icons__btn--edit" do
        -#   = icon('far', 'edit', class: "icons__btn--icon")


          
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "top-items__icons__btn--cog")
        -# = link_to "#", class: "top-items__icons__btn--cog" do
        -#   = icon('fas', 'cog', class: "icons__btn--icon")



  .side-bar__groups-list
    .group
      .group__name
        gourp1
      .group__message
        message
    

  -# .side-bar__groups-list
  -#     .group
  -#       %p.group__name
  -#         gourp1
  -#       %p.group__message
  -#         message
  -#     .group
  -#       %p.group__name
  -#         group2
  -#       %p.group__message
  -#         message